*{
    box-sizing: border-box;
    margin: 0px;
}

body{
   /* background-color:  #004037; */
   background-color:#f9f3e8;
}

#main_heading{
    text-align: center;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #004037;
    color: beige;
    padding: 10px;
    background-attachment: fixed;
}

.Nav_bar{
    background-color:#f9f3e8;
    padding: 20px;
    position: sticky;
    top: 0;
}

.parent_a{
    text-decoration: none;
    color:#004037;
    text-align: center;
    font-family:'Roboto';
    font-size: 20px;
    padding: 20px;
    margin: 0 10px;
    position: relative;
    flex: 1;
}

.parent_a:hover{
    color:rgb(62, 129, 62);
}

.Menubox{
    display: none;
    position: absolute;
    transform: translateX(-50%);
    background-color: #fffdf9;
    box-shadow: 2px 2px 5px rgba(45, 74, 53, 0.651);
    border-radius: 20px;
    padding: 20px;
    vertical-align:middle;
    margin-bottom: 20px;
    margin-top: 0;
    justify-content: space-between;
    align-items: center;
    row-gap: 20px;
    font-size: 20px;
    z-index: 1;
    top: 100%;
}

#Menubox_1{
    top: 100%;
    left: 20%;
    a{
        font-family: "Open sans";
        color: #004037;
    }
    width: 500px;
    height: 150px;
}

#Menubox_2{
    a{
        font-family: "Open sans";
        color: #004037;
    }
    top: 100%;
    left: 25%;
    width: 500px;
    height: 150px;
}

#Menubox_3{
    a{
        font-family: "Open sans";
        color: #004037;
    }
    top: 100%;
    left: 30%;
    min-width: 500px;
    max-height: 150px;
}

.Menubox a{
    display: inline-flex;
    min-width: 200px;
    text-decoration: none;
    color: white;
}

.Menubox:hover{
    display: grid;
    grid-template-rows: auto;
}

.mb_a:hover{
    display: inline-flex;
    background-color: white;
    color: black;
}

#parent_a_1:hover ~ #Menubox_1, #parent_a_2:hover ~ #Menubox_2, #parent_a_3:hover ~ #Menubox_3{
    display: grid;
    color: #004037;
    grid-template-rows: auto;
}

.Monitor , .Track , .Save{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 30px;
    color:  #004037;
   background-color: #fffaf0; 
    border-radius: 20px;
    font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 30px;
    margin: 20px 40px;
    margin-bottom: 40px;
    max-width: 1400px;
}

.text_section{
    flex: 1;
}

.sidepic{
    width: 250px;
}

.sidepic2{
    
    width: 240px;
}
.sidepic3{
    width:240px
}

.Monitor h1, .Track h1, .Save h1 {
    font-family: 'Bebas Neue', sans-serif; 
}

.Monitor p, .Track p, .Save p {
    font-family: 'Roboto', serif;
    font-size: 20px; 
}

.Monitor:hover, .Track:hover, .Save:hover{
    background-color: #fffdf9;
    cursor: pointer;
}

#Input{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    margin-left: 645px;
    padding: 30px;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
    background-color:rgb(116, 196, 116);
}

#Input:hover{
    background-color:#04a364;
    cursor: pointer;
}

.Nav_Articles_1, .Nav_Articles_2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 100px;
    margin: 40px 20px;
    justify-content: space-between;
    grid-column-gap: 20px;
}

.Nav_Articles_1>div, .Nav_Articles_2>div{
    display: flex;
    flex-direction: column;
    background-color: #fffaf0;
    color: #004037;
    border-radius: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    gap: 30px;
    align-items: left;
    justify-content: end;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Nav_Articles_1>div:hover, .Nav_Articles_2>div:hover{
    background-color:#fffdf9;
    cursor: pointer;
}

.Nav_Articles_1>div>h3, .Nav_Articles_2>div>h3{
    font-size: 20px;
}
