*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color:  #004037;
    
}

.image-container {
    position: relative; 
}

.light-image {
    position: absolute;
    right: 0; 
    filter: brightness(1.2);
    opacity: 0.9;
}



#main_heading{
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-color: #011c18;
    color: beige;
    padding: 10px;
    background-attachment: fixed;
}

nav{
   
    background-color:  #004037;
    padding: 20px;
    position: sticky;
    top: 0;
    
}
.nav-bar{
    margin-left: auto;
}
nav a{
   
    align-items: right;
    text-decoration: none;
    color: white;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 10px;
    text-align: right;
}

nav a:hover{
    color: rgb(64, 242, 177);
}

.content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 20px;
    border-radius: 10px;
}

.text-section{
    flex: 1;
    max-width: 45;
    margin-right: 20px;
    margin-left: 5px;
    padding-left: 5px;
}


div>h1{
    line-height: 1.1;
    
    font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110px;
    color: beige;
}
.highlight {
    color:#0eff85;
}

div>h3{
    margin-bottom: 10px;
    font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110px;
    color: rgb(123, 218, 123);
}
div>h4{
    margin-bottom: 10px;
    font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110px;
    color: beige;
}

div>h2{
    font-size: 18px;
    
    font-family: 'Roboto', Times, serif;
    line-height: 1.5;
    padding-top: 15px;
    margin-bottom: 0;
    color: #abc9b1;

}
div>img{
    width: 700px;
    position: relative;
    
}

img.logo{
    float: left;
    width: 80px;
    border-radius: 10%;
    
}

.styled-button{
    background-color: rgb(64, 242, 177);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 30px;
}

.styled-button:hover{
    background-color:  rgba(64, 242, 177, 0.651);
}

.end-body{
    padding: 30px;
    background-color: white;
    padding-bottom: 200px;
    font-family: 'Courier New', Courier, monospace;
}

.end-body>h3{
    max-width: 20%;
}

.industries{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
    max-width: 100%;
    justify-content: end;
}

.item{
    border-radius: 5px;
}