
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color:  hsl(172, 100%, 13%);
}

.image-container {
    position: relative; 
}

.light-image {
    position: absolute;
    right: 0; 
    filter: brightness(1.2);
    opacity: 0.9;
}

nav{
    background-color:  #004037;
    padding: 20px;
    position: sticky;
    top: 0;
}
nav a{
   
    align-items: center;
    text-decoration: none;
    color: beige;
    text-align: center;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    padding: 10px;
    margin: 0 25px;
    text-align: center;
}

nav a:hover{
    color: rgb(64, 242, 177);
}

.content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    padding-bottom:-300px;
}

.text-section{
    flex: 1;
    max-width: 45;
    margin-right: 20px;
    margin-left: 5px;
    padding-left: 5px;
}


div>h1{
    line-height: 1.1;
    
    font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    color: beige;
}
.highlight {
    color:#0eff85;
}

div>h3{
    margin-bottom: 10px;
    font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110px;
    color: rgb(123, 218, 123);
}
div>h4{
    margin-bottom: 10px;
    font-family: 'Bebas Neue', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110px;
    color: beige;
}

div>h2{
    font-size: 18px;
    
    font-family: 'Roboto', Times, serif;
    line-height: 1.5;
    padding-top: 15px;
    margin-bottom: 0;
    color: #abc9b1;

}
div>img{
    width: 700px;
    position: relative;
    
}

img.logo{
    float: left;
    width: 80px;
    border-radius: 10%;
}
.styled-button{
    background-color: beige;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 30px;
    position: relative;
    top: -400px;
}

.styled-button:hover{
    background-color:  rgba(64, 242, 177, 0.651);
}

.end-body{
    padding: 30px;
    background-color: white;
    padding-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.end-body>h3{
    max-width: 20%;
}


.item{
    border-radius: 5px;
}
#main_heading {
    text-align: center;
    font-size: 50px;
    font-family: "Yanone Kaffeesatz", sans-serif;
    background-color: #011c18;
    color: beige;
    font-weight: 350;
    padding: 10px;
        font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
  .logo
}


/* About Section Styles */
.about-section {
    top:-100px;
    margin-top: auto;
    background-color: beige; /* Beige background */
    padding: 0px; /* Padding for the section */
    margin: 0px auto; /* Center with margin */
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    color: #333;
    text-align: left; /* Align text to the left */
}

.about-section h2 {
    color:#0eff85; 
}


.footer {
    background-color: #011c18;
    padding: 20px;
    text-align: center;
    color: beige;
}


.footer-links a {
    color: beige;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

.footer-links a:hover {
    color: rgb(64, 242, 177);
}

.footer-links {
    text-align: center; 
    padding: 20px; 
    background-color: #333; 
}

#footer-title {
    margin: 0; 
}

.social-links {
    display:flex; 
    justify-content: center; 
    gap: 15px; 
    margin: 10px 0; 
}

.footer-paragraph {
    margin: 20px 0;
    top :-25px; 
}

.footer-options {
    margin-top: 1px; 
}

.footer-options ul {
    font-family:sans-serif;
    list-style: none; 
    padding: 0; 
    display: flex; 
    justify-content: center; 
    gap: 15px; 
}

.footer-options a {
    text-decoration: none; 
    color: beige;
}
.n1{
    background-color: #333;
}