
body {
    font-family: sans-serif;
    background-color: #004037;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 40px;
    width: 350px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

button {
    background-color:  #004037;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 4px;
}

button:hover {
    opacity: 1;
}

.info {
    text-align: center;
    margin-top: 15px;
}

a {
    color: #004037;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}